@import "tailwindcss";

:root {
  --background: #222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bodoni: var(--font-bodoni);
  --font-dirty-brush: var(--font-dirty-brush);
  --font-montserrat: var(--font-montserrat);
  --color-redros: #D1070A;
  --color-goldenros: #CC9933;
  --color-darkros: #453D2D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}